.stat-box {
    font-family: "Merriweather" !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2%
}



.creature-box {
    width: 80%;
    position: relative;
    left: 10%;
    padding: 2%;
    background-color: #1c1d21;
    color: white;
    display: flex;
    justify-content: center;
}

#add-sub-input {
    width: 100%;
}

.hp-box {
    width: 9%;
}

.change-hp {

}
