form {
    font-family: "Merriweather" !important;
}

.form-input {
    margin-top: 1%;
}

.submit-btn {
    margin-top: 1%;
    background-color: #1c1d21 !important;
    color: white;
    padding: 10px;
}