#add-creature {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1%;
    margin-top: 2%;
}

#add-creature div {
    margin: 1%;
}

#add-btn{
    width: 5%;

}

h1 {
    font-family: "DungeonDepths";
    text-align: center;
    padding-top: 3%;
}

.how-to-btn {
    font-family: "Merriweather" !important;
    margin-top: 1%;
    margin-right: 1%;
    background-color: #1c1d21 !important;
    color: white;
    padding: 10px;
    
}

.off-canvas {
    background-color: #1c1d21 !important;
    color: white !important;
    font-family: "Merriweather" !important;
}


